[submodule "src/submodules/RocketUI"]
	path = submodules/RocketUI
	url = https://github.com/TruDan/RocketUI.git
[submodule "src/submodules/MiNET"]
	path = submodules/MiNET
	url = https://github.com/NiclasOlofsson/MiNET.git
