<?xml version="1.0" encoding="utf-8"?>
<configuration>

	<packageSources>

		<add key="NuGet official package source" value="https://api.nuget.org/v3/index.json" />

		<add key="DotNet Develop" value="https://dotnet.myget.org/F/dotnet-core/api/v3/index.json" />

		<add key="MonoGame Develop" value="http://teamcity.monogame.net/guestAuth/app/nuget/v1/FeedService.svc/" />

		<add key="MonoGame.Extended Develop" value="http://build.craftworkgames.com/guestAuth/app/nuget/v1/FeedService.svc/" />

	</packageSources>
  <disabledPackageSources>
    <add key="MonoGame Develop" value="true" />
    <add key="MonoGame.Extended Develop" value="true" />
  </disabledPackageSources>
</configuration>